/client/node_modules
/node_modules
client/.DS_Store
client/package-lock.json
client/public/.DS_Store
client/public/bg/.DS_Store
client/public/icons/.DS_Store
client/src/.DS_Store
client/src/components/.DS_Store
client/src/pages/.DS_Store
server/.DS_Store
.env
.DS_Store
