.fade-enter {
  opacity: 0;
  transform: translateY(16px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-16px);
  transition: opacity 400ms, transform 400ms;
}
