@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-standard {
  @apply bg-[#143059] text-white font-bold py-2 px-4 rounded transition duration-200 hover:bg-[#1d416e] hover:shadow-md disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-teal {
  @apply bg-[#336d82] text-white font-bold py-2 px-4 rounded transition duration-200 hover:bg-[#3e7b91] hover:shadow-sm disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-light {
  @apply bg-[#eef1f2] border-none text-[#143059] font-bold py-2 px-4 rounded transition duration-200 hover:bg-[#dce2e5] hover:text-[#1d416e] hover:ring-2 hover:ring-gray-300 disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-nav {
  @apply text-black bg-transparent font-bold py-2 px-4 transition duration-200 hover:scale-125 hover:text-[#143059] hover:underline;
}

h1 {
  @apply text-lg font-semibold !important;
}

.input-standard {
  @apply h-fit p-2 border border-black rounded-none transition-colors duration-200 focus:border-[#336d82] !important;
}

h1 {
  color: #adccd9;
}

h2 {
  color: #91c2d7;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

