@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-standard {
  @apply text-center bg-[#00ffe7]/80 text-[#181a23] font-bold py-2 px-4 rounded transition duration-200;
  @apply hover:bg-[#ff005c] hover:text-white shadow-[0_0_8px_#00ffe7] hover:shadow-[0_0_16px_#ff005c];
}

.btn-teal {
  @apply text-center bg-[#00ffe7] text-[#181a23] font-bold py-2 px-4 rounded transition duration-200;
  @apply hover:bg-[#23263a] hover:text-[#00ffe7] border border-[#00ffe7] shadow-[0_0_8px_#00ffe7] hover:shadow-[0_0_16px_#00ffe7];
}

.btn-light {
  @apply text-center bg-[#faafe8] text-[#181a23] font-bold py-2 px-4 rounded transition duration-200;
  @apply hover:bg-[#00ffe7] hover:text-[#181a23] shadow-[0_0_8px_#faafe8] hover:shadow-[0_0_12px_#00ffe7];
}

.btn-nav {
  @apply text-center bg-transparent text-[#00ffe7] font-bold py-2 px-4 rounded transition duration-200;
  @apply hover:bg-[#00ffe7] hover:text-[#181a23] shadow-[0_0_8px_#00ffe7] hover:shadow-[0_0_16px_#00ffe7];
}

h1 {
  @apply text-lg font-semibold !important;
}

.input-standard {
  @apply h-fit p-2 border border-black rounded-none transition-colors duration-200 focus:border-[#336d82] !important;
}

h1 {
  @apply text-3xl text-center font-bold text-[#00ffe7] drop-shadow-[0_0_8px_#00ffe7]
}

h2 {
  @apply text-2xl text-center font-bold text-[#00ffe7] drop-shadow-[0_0_8px_#00ffe7]
}

h3 {
  @apply text-xl text-center font-bold text-[#00ffe7] drop-shadow-[0_0_8px_#00ffe7]
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #23263a;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,255,231,0.1);
  position: relative;
  color: #e0e7ef;
  border: 1px solid rgba(0,255,231,0.3);
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

