/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Open+Sans:ital,wght@0,300..800;1,300..800');
@import './animations.css';
@import './buttons.css';
@import './cards.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  'Sansation' ;
  /* font-weight: 300; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-standard {
  @apply h-fit p-2 border border-black rounded-none transition-colors duration-200 focus:border-[#336d82] !important;
}

h1 {
  @apply tracking-widest text-3xl text-center font-bold text-[#00ffe7] drop-shadow-[0_0_8px_#00ffe7]
}

h2 {
  @apply text-2xl text-center font-bold text-[#00ffe7] drop-shadow-[0_0_8px_#00ffe7]
}

h3 {
  @apply text-xl text-center font-bold text-[#00ffe7] drop-shadow-[0_0_8px_#00ffe7]
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #23263a;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,255,231,0.1);
  position: relative;
  color: #e0e7ef;
  border: 1px solid rgba(0,255,231,0.3);
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.neon-text {
  @apply text-[#00ffe7] drop-shadow-[0_0_8px_#00ffe7] transition-all duration-300 ease-in-out;
  text-shadow: 0px 0 3px #00ffe7;

}
